* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'PyeonsanAA';
  src: url('../fonts/PyeonsanBetaAA_0-Regular.otf') format('opentype');
}


@font-face {
  font-family: 'PyeonsanBB';
  src: url('../fonts/PyeonsanBetaBB_0-Regular.otf') format('opentype');
}


@font-face {
  font-family: 'PyeonsanBetaAA';
  src: url('../fonts/PyeonsanBetaAA-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'PyeonsanBetaBB';
  src: url('../fonts/PyeonsanBetaBB-Regular.otf') format('opentype');
}

:root {
  --main-color: black;
  --sub-color: white;
  --basic-margin: 10px;
  --font-size: clamp(16px, 1.75vw, 24px);
}

/* Scrollbar Styling */
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 4px;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #444;
}

/* Firefox 대응 */
body {
  scrollbar-width: thin;
  scrollbar-color: black white;
}

/* SVG fill classes */
.cls-1 {
  fill: var(--main-color);
}

.cls-2 {
  fill: var(--sub-color);
}

.horizontal-tb {
  display: none;
}

/* Body layout */
.body {
  font-family: 'PyeonsanAA', serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: var(--font-size);
  line-height: 1.65;
  word-break: keep-all;
  color: black;
}

body::selection {
  background: #ccc;
  color: #000;
}

.body::-moz-selection {
  background: #ccc;
  color: #000;
}

/* Navigation */
.navigation-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  background-color: white;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: 0;
  text-align: center;
}

/* .navigation-container div:first-child {
  padding: 0.25rem 0rem 0rem 3rem;
}

.navigation-container div:last-child {
  padding: 0.25rem 3rem 0rem 0rem;
} */

.navigation-container div {
  border-top: 1.1px solid var(--main-color);
  background-color: white;
  padding: 0.25rem 0rem 1rem 0rem;
}

.navigation-container div:hover {
  text-decoration: underline 1.1px;
  text-underline-offset: calc(var(--font-size)/2);
  cursor: pointer;
}

/* Editable container */
.edit-container {
  word-break: break-all;
  display: grid;
  grid-template-columns: 1fr 1fr 0fr;
  gap: 2rem;
  width: 100%;
}

/* Editable Div */
.editableDiv {
  font-size: 2.5vw;
  line-height: 1.5;
  overflow: auto;
  width: auto;
  height: 80vh;
  white-space: pre-wrap;
}

.editableDiv:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
  background-color: #f5f5f5;
}

.editableDiv:nth-child(1) {
  font-family: 'PyeonsanBetaAA', serif;
  font-kerning: normal;
}

.editableDiv:nth-child(2) {
  font-family: 'PyeonsanBetaBB', serif;
  font-kerning: normal;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  position: absolute;
  bottom: -1.5rem;
  width: 100%;
}

.functions {
  font-family: 'PyeonsanBetaAA', serif;
  display: flex;
  width: min-content;
  gap: 1rem;
  text-align: center;
  flex-direction: column;
}

.range-name {
  writing-mode: tb;
  font-weight: bold;
  color: var(--main-color);
  word-break: keep-all;
  white-space: nowrap;
}

.range-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  /* width: 100%; */
  height: 100%;
  align-items: center;
}

.slider-wrapper {
  transform: rotate(-90deg) !important;
  transform-origin: center;
  /* width: 200px; */
  /* 세로 슬라이더 전체 길이 */
  /* height: 40px; */
  /* 슬라이더 thumb 여유 */
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.customRange {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  /* 슬라이더 track 길이 (회전 전 기준) */
  height: 1.1px;
  background: black;
  border-radius: 2px;
  cursor: pointer;
}

/* Chrome & Safari */
.customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  /* margin-top: -8px; */
  cursor: pointer;
}


/* .customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #333;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  z-index: 1;
} */

/* input[type="range"].customRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
} */

input[type="range"].customRange::-webkit-slider-thumb:hover,
.functions-container button:hover {
  background: #adadad;
}

.functions-container button {
  all: unset;
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}


/* Headings */
h1,
h2,
h4,
h5,
h6 {
  padding: 1rem 0 1rem 0;
  font-weight: normal;
  font-size: var(--font-size);
}

h3 {
  padding: 1rem 0 1rem 0;
  font-weight: normal;
  font-size: var(--font-size);
}

h2+h3 {
  padding-top: 0;
}

/* functions containers */
.functions-container,
.context-container,
.glyph-container,
.archive-container {
  display: flex;
  position: absolute;
  gap: 2rem;
  top: 0;
  padding: 1.5rem 3rem;
  width: -webkit-fill-available;
}

.functions-container {
  visibility: visible;
}

.context-container,
.glyph-container,
.archive-container {
  visibility: hidden;
}

.context-container {
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  padding: 1rem;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.context-container div {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 5rem; */
}

.context-container div .caption{
  font-size: calc(var(--font-size) * 0.75);
  padding-bottom: 0.75rem;
  padding-top: 0.1rem;
}

.context-container div img {
  border: 1px solid rgb(234, 234, 234);
}

/* Article container */
.research-article {
  display: flex;
  flex-direction: column;
}

.context-container-images {
  display: flex;
  flex-direction: column;
  /* gap: 1rem; */
}

img {
  width: 100%;
  height: 100%;
}

/* Glyph container */
.glyph-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.glyphs-contants {
  display: flex;
  flex-direction: column;
  padding-left: 45%;
  position: absolute;
  right: 0;
}

.credit {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.glyphs-characters {
  display: flex;
  padding-bottom: 3rem;
  flex-wrap: wrap;
}

.glyphs-characters div {
  font-size: calc(var(--font-size) * 3);
  outline: 1.1px solid black;
  outline-offset: -0.85px;
  height: calc(var(--font-size)*3.7);
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1.1px solid black;
  outline-offset: -0.85px;
  user-select: none;
}

.glyphs-characters div span {
  transform: translateY(-0.3rem);
}

.glyphs-characters div:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

/* .oldstyle {
  font-family: Georgia, 'EB Garamond', serif;
  font-variant-numeric: oldstyle-nums;
  font-feature-settings: 'onum' 1;
} */

.preview {
  width: 35vw;
  height: 35vw;
  display: flex;
  background-color: black;
  color: white;
  font-size: calc(var(--font-size) * 20);
  aspect-ratio: 1;
  justify-content: center;
  align-items: center;
}

.preview span {
  transform: translateY(-2.5rem);
}

/* .glyphs-contants {
  height: 90vh;
  width: 48.4%;
  right: 0;
  position: absolute;
  padding: 0 0.1rem 0rem 0.1rem;
} */

.glyphs-cover {
  position: fixed;
}

.latin-A {
  font-family: 'PyeonsanAA', serif;
}

.latin-B {
  font-family: 'PyeonsanBB', serif;
}

.numbers{
  font-variant-numeric: oldstyle-nums;
}
.glyphs-title:nth-child(1),
.glyphs-title:nth-child(2) {
  padding: 0rem 0 1rem 0;
}

.glyphs-title {
  padding: 0rem 0 1rem 0;
}

/* Archive container */
.archive-container {
  display: flex;
  flex-direction: column;
  word-break: keep-all;
  height: 90vh;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 1rem;
}

.archive-container h2 {
  padding: 0;
}

.font-info {
  display: flex;
  flex-direction: column;
}

.credit-table {
  border-top: 1.1px solid black;
  display: grid;
  grid-template-columns: 1fr 3fr;
  padding: 0.5rem 0;
}

.credit-table:last-child {
  border-bottom: 1.1px solid black;
}

/* Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4px;
  padding-bottom: 5rem;
}

.gallery div {
  height: 200px;
  padding-bottom: 3rem;
  width: auto;
  flex-grow: 1;
}

#imageModal {
  display: none;
}

.modal {
  display: flex;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.modal-content {
  max-width: 90vw;
  max-height: 80vh;
}

.close {
  position: absolute;
  top: 0rem;
  right: 2rem;
  color: white;
  font-size: calc(var(--font-size) * 2);
  font-weight: bold;
  cursor: pointer;
}

#caption {
  color: white;
  margin-top: 1rem;
  font-size: var(--font-size);
}

@media (min-width: 2000px) {
  :root {
    --font-size: 2vw;
  }
}